/* header Start */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar .navbar-brand{
    font-size: 36px;
    font-weight: 700;
}
.navbar .navbar-brand span{
    color: rgb(228, 228, 37);
}
.navbar .navbar-nav li .nav-link{
    padding: 30px;
    font-size: 18px;
    font-weight: 500;
}
/* header End */

.hero .hero-bg{
    background: url(/images/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.hero .hero-bg .hero-content{
    height: 100vh;
}


.button{
    padding: 70px 0 0 90px;
}
.video-play-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;

}

.video-play-button:before {
    content: "";
    width: 80px;
    height: 80px;
    background: #e6bc29;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    border: 4px solid #e6bc29;
    background: #ffffff;
    border-radius: 50%;
    transition: all 200ms;
}


.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    background: #e6bc29;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button span {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    display: block;
}


@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}


.video-play-button {

    animation: scale-up-center 1s cubic-bezier(0.680, -0.550, 0.265, 1.550) both;
}

/* service start */
 h2{
    color: #e6bc29;
}
 h2 span{
    color: #292929;
}
 h2 span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #292929;
    top: 100%;
    left: 0;
}
.service-box{
    width: 100%;
    height: auto;
    border: solid 5px #e6bc29;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    padding: 80px 0;
}
.service-box p{
    transition: all .3s ease-in-out;
}
.service-box:hover .icon-1{
    display: none !important;
}
.service-box:hover .icon-2{
    display: block !important;
    margin: 0 auto !important;
}
.service-box:hover p{
    color: #e6bc29;
}

.service-btn .btn ,.portfolio-btn .btn{
    background-color: #292929;
    border: none;
    transition: all .3s ease-in-out;
}
.service-btn .btn:hover{
    background-color: #e6bc29;
}
/* service end */

/* blog start */
.blog{
    background: url(/images/blog-bg.png);
    background-repeat: no-repeat;
    background-position: cover;
    width: 100%;
    height: 550px;
}
.blog .blog-content h2 span::after{
    background-color: #fff;
}
/* blog end */